

.jumbotron
  .container
    %h1 Welcome to Bleus
    %p Transportation made easy!

    = link_to new_user_registration_path, :class => "btn btn-primary btn-lg" do
      = t('devise.sessions.sign_up', default: 'Sign up') 



